<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="EcommerceProject.tests.TestCreateNewCustomerAcc"/>
      <class name="EcommerceProject.tests.TestSignInFunctionality"/>
      <class name="EcommerceProject.tests.TestFilterSortFunctionality"/>
      <class name="EcommerceProject.tests.TestQuickAddToCart"/>
      <class name="EcommerceProject.tests.TestAddItemsToWishlist"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
